.bg {
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
}
.capeers_banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    align-items: center;
    justify-content: center;
  }
  
  .capeers_banner h1 {
    text-align: center;
    padding-bottom: 28px;
    z-index: 1;
    font-size: var(--font-h1);
    letter-spacing: var(--ls-h1);
    font-weight: var(--weight-h1);
    color: var(--color-main);
  }
  .capeers_tit {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .tit {
    padding-bottom: 14px;
    font-size: var(--font-body1);
    letter-spacing: var(--ls-body1);
    font-weight: var(--weight-h1);
    color: var(--color-white);
  }
  .txt {
    font-size: var(--font-body2);
    letter-spacing: var(--ls-body2);
    font-weight: var(--weight-body2);
    color: var(--color-white);
  }

  @media screen and (max-width: 767px) {
    .capeers_banner h1 {
      font-size: var(--font-body1);
      font-weight: var(--weight-h1);
      letter-spacing: var(--ls-body1);
      word-break: keep-all;
    }
    .tit {
      font-size: var(--font-body2);
      letter-spacing: var(--ls-body2);
      font-weight: var(--weight-body2);
      word-break: keep-all;
    }
    .txt {
      font-size: var(--font-body4);
      letter-spacing: var(--ls-body4);
      font-weight: var(--weight-body4);
      word-break: keep-all;
    }
}